.alignment-center {
  text-align: center;
}

.cover-photo {
  border: 1px solid;
  height: 30rem;
  width: 100rem;
  margin: 0 auto;
  border-radius: 1rem;
}
.cover-image {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.profile-photo {
  top: -10rem;
  left: -30rem;
  border-radius: 10rem;
  outline: 1px solid #fff;
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  background-color: #fff;
}
.profile-photo i {
  position: absolute;
  top: -4.5rem;
  font-size: 20rem;
}
.timeline {
  margin-top: 12rem;
  height: 300vh;
}

.box--position {
  opacity: 0;
  width: 60rem;
}
.box--position-1 {
  margin-left: 10rem;
}
.box--position-2 {
  margin-left: 120rem;
}
.box--position-3 {
  margin-left: 10rem;
}
.box--position-4 {
  margin-left: 120rem;
}
.text {
  /* border: 1px solid; */
  position: relative;
}
.zoom-in-text {
  text-align: center;
  /* border: 1px solid; */
  top: 6rem;
  left: -10rem;
  /* height: 0; */
  max-width: 1ch;
  line-height: 10rem;
  overflow-wrap: break-word;
  /* word-wrap: break-word; */
  position: absolute;
  /* top: 10rem; */
  /* border: none; */
  /* letter-spacing: 0.2rem; */
  font-size: 10rem;
  /* float: left; */
  /* background-color: wheat; */
  color: rebeccapurple;
}
