.alignment-center {
  text-align: center;
}

.cover-photo {
  border: 1px solid;
  height: 30rem;
  width: 100rem;
  margin: 0 auto;
  border-radius: 1rem;
}
.cover-image {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}
.profile-photo {
  top: -10rem;
  left: -30rem;
  border-radius: 10rem;
  outline: 1px solid #fff;
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  background-color: #fff;
}
.profile-photo i {
  position: absolute;
  top: -4.5rem;
  font-size: 20rem;
}
.timeline {
  margin-top: 12rem;
  height: 300vh;
}

.box--position {
  opacity: 0;
  width: 60rem;
  box-shadow: 0.7rem 0rem 1rem rgba(0, 0, 0, 0.266);
}
.box--position-1 {
  margin-left: 10rem;
}
.box--position-2 {
  margin-left: 120rem;
}
.box--position-3 {
  margin-left: 10rem;
}
.box--position-4 {
  margin-left: 120rem;
}
.text {
  /* border: 1px solid; */
  position: relative;
}
.zoom-in-text {
  text-align: center;
  /* border: 1px solid; */
  /* border-r: 5rem; */
  /* box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.342); */
  top: 5rem;
  left: -14rem;
  height: 45rem;
  max-width: 2ch;
  line-height: 20rem;
  overflow-wrap: break-word;
  /* word-wrap: break-word; */
  position: absolute;
  /* top: 10rem; */
  /* border: none; */
  /* letter-spacing: 0.2rem; */
  font-size: 20rem;
  /* float: left; */
  /* background-image: linear-gradient(
    to right,
    rgb(255, 208, 213),
    rgba(255, 255, 255, 0)
  ); */
  color: rebeccapurple;
  z-index: 1;
}
.background-fade {
  top: 7.2rem;
  /* border: 1px solid; */
  position: absolute;
  height: 40.9rem;
  width: 25rem;
  border-radius: 2rem;
  /* background-color: red; */
  background-image: linear-gradient(
    to right,
    rgb(255, 208, 213),
    rgba(255, 255, 255, 0)
  );
  z-index: 0;
}
.main__post-image--background {
  /* background-image: linear-gradient(to right, black); */
  background-image: linear-gradient(
    to right,
    rgb(255, 208, 213),
    rgba(255, 255, 255, 0.178)
  );
}
