.main__posts {
  display: inline-block;
  width: 50%;
  position: relative;
  /* border: 1px solid; */
}
.main__post-box {
  position: absolute;
  height: 55rem;
  width: 50rem;
  box-shadow: 0rem 0rem 2.5rem rgba(0, 0, 0, 0.466);
  top: 5rem;
  border-radius: 1rem;
  padding: 2rem;
}
.main__post-box--1 {
  transform: rotate(0deg);
  background-color: rgb(255, 208, 213);
  animation: moveInRight 1.5s;
}
.main__post-box--2 {
  transform: rotate(5deg);
  background-color: rgb(161, 195, 211);
  animation: moveInLeft 1.5s;
}
.main__post-box--3 {
  transform: rotate(10deg);
  background-color: rgb(81, 154, 243);
  animation: moveInRight 1.5s;
}
.main__post-box--4 {
  transform: rotate(5deg);
  background-color: rgb(24, 20, 19);
  animation-delay: 10s;
  animation: moveInLeft 1.5s ease-in-out;
}
.main__post-box--5 {
  transform: rotate(-10deg);
  background-color: rgb(244, 120, 165);
  animation: moveInRight 1.5s;
}
.main__user {
  height: 8%;
  margin-bottom: 1rem;
}
.main__dp {
  width: 8.5%;
  float: left;
  font-size: 3.5rem;
}
.main__dp--color-1 {
  color: #000;
}
.main__dp--color-2 {
  color: #000;
}
.main__dp--color-3 {
  color: #000;
}
.main__dp--color-4 {
  color: #fff;
}
.main__dp--color-5 {
  color: #000;
}
.main__username {
  font-family: "Poppins";
  font-weight: 700;
  margin: 0.725rem 0 0 1rem;
  float: left;
}
.main__username--color-1 {
  color: #000;
}
.main__username--color-2 {
  color: #000;
}
.main__username--color-3 {
  color: #000;
}
.main__username--color-4 {
  color: #fff;
}
.main__username--color-5 {
  color: #000;
}
.main__content {
  /* outline: 0.5rem solid; */
  height: 80%;
  margin-bottom: 1rem;
}
.main__post-image {
  border-radius: 2rem;
  height: 100%;
  width: 100%;
  -webkit-user-drag: none;
  user-select: none;
}

.main__interaction {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}
.main__icon {
  font-size: 2rem;
}
.main__icon:not(:first-child) {
  padding-left: 5rem;
}
.main__icon--color-4 {
  color: #fff;
}
@keyframes moveInLeft {
  0% {
    transform: translateX(-500rem) rotateX(15deg);
  }
  70% {
    transform: rotate(0);
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(500rem) rotateX(-15deg);
  }
  70% {
    transform: rotate(0);
  }
}
.ref-border {
  /* border: 1px solid; */
  height: 5.5rem;
  width: 5rem;
  position: absolute;
}
