* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins";
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: rgb(255, 208, 213);
  font-size: 1.6rem;
  padding: 5rem;
  margin: 0 auto;
  max-width: 1920px;
}
